.u-name {
  grid-area: name;
}
.u-state {
  grid-area: state;
}
.u-password {
  grid-area: password;
}
.u-email {
  grid-area: email;
}
.u-gender {
  grid-area: gender;
}
.u-confirm-password {
  grid-area: confirm;
}
.u-margin-bottom {
  margin-bottom: 1rem;
  @include breakpoint(small-up) {
    margin-bottom: 0.5rem;
  }
}
