* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/HelveticaNeue-Medium.otf") format("opentype"), url("./fonts/HelveticaNeue-Medium.ttf") format("truetype");
}

body,
html {
  background-color: #eff0f3;
  height: 100%;
}

body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.l-header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #174dba;
  z-index: 20;
}

.l-index__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (min-width: 37.5em) {
  .l-index__main {
    height: calc(100% - 70px);
  }
}

.l-register__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

@media (min-width: 37.5em) {
  .l-register__main {
    height: 100%;
    margin-top: 0;
  }
}

.c-form__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: medium;
  color: #174dba;
}

.c-form-group__label {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #174dba;
  position: relative;
}

.c-link {
  color: #174dba;
  text-decoration: none;
}

.c-button {
  width: 100%;
  height: 2.75rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #174dba;
  border: none;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-button:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.c-form__link {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: #505050;
}

.u-name {
  grid-area: name;
}

.u-state {
  grid-area: state;
}

.u-password {
  grid-area: password;
}

.u-email {
  grid-area: email;
}

.u-gender {
  grid-area: gender;
}

.u-confirm-password {
  grid-area: confirm;
}

.u-margin-bottom {
  margin-bottom: 1rem;
}

@media (min-width: 37.5em) {
  .u-margin-bottom {
    margin-bottom: 0.5rem;
  }
}

.u-showing-more {
  -ms-grid-rows: (minmax(300px, 1fr))[4] !important;
      grid-template-rows: repeat(4, minmax(300px, 1fr)) !important;
}

.l-index__main .c-form__area {
  margin-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 30%;
  height: auto;
  padding: 1.5rem 2rem 3rem 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  gap: 1rem;
}

@media (min-width: 37.5em) {
  .l-index__main .c-form__area {
    margin-top: 0;
  }
}

.l-index__main .c-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
}

@media (min-width: 56.25em) {
  .l-index__main .c-login {
    width: 80%;
    gap: 0.75rem;
  }
}

.l-index__main .c-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 0.25rem;
}

.l-index__main .c-form-group__input {
  width: 100%;
  height: 2.75rem;
  padding: 0.75rem 0.5rem;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  border: 1px solid #505050;
  border-radius: 0.5rem;
}

.l-list__main {
  width: 100%;
  height: auto;
  padding: 0 1rem;
}

@media (min-width: 56.25em) {
  .l-list__main {
    padding: 0 4rem;
  }
}

.l-list__main .c-section__title {
  display: inline-block;
  margin: 1.5rem 0 0 0;
  font-weight: bold;
  color: #174dba;
  text-align: center;
}

@media (min-width: 37.5em) {
  .l-list__main .c-section__title {
    text-align: left;
  }
}

.l-list__main .l-cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  /* overflow-x: auto; */
  gap: 1rem;
}

@media (min-width: 56.25em) {
  .l-list__main .l-cards__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    margin: 0 auto;
    margin-top: 0;
    overflow: hidden;
    -ms-grid-columns: (minmax(25%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    -ms-grid-rows: (minmax(300px, 1fr))[2];
        grid-template-rows: repeat(2, minmax(300px, 1fr));
    gap: 3rem;
    justify-items: center;
  }
}

.l-list__main .c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.l-list__main .c-edit {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.l-list__main .c-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

.l-list__main .c-card__img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.l-list__main .c-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #174dba;
  text-transform: capitalize;
}

.l-list__main .c-card__email {
  font-size: 1rem;
  color: #505050;
}

.l-footer {
  height: 5rem;
  padding: 2rem 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 37.5em) {
  .l-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.l-footer .c-footer__text {
  color: #505050;
}

.l-footer .c-link {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.l-register__main .c-form__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 90%;
  min-height: 80%;
  padding: 1.5rem 3rem 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

@media (min-width: 37.5em) {
  .l-register__main .c-form__area {
    min-width: 30%;
    min-height: 30%;
  }
}

.l-register__main .c-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.l-register__main .c-form__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

@media (min-width: 37.5em) {
  .l-register__main .c-form__layout {
    display: -ms-grid;
    display: grid;
    padding: 1rem;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "name email" "state gender" "password confirm";
  }
}

.l-register__main .c-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 0.25rem;
}

.l-register__main .c-radio {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.l-register__main .c-radio__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55%;
  gap: 1.5rem;
}

.l-register__main .c-form-group__input,
.l-register__main .c-select {
  width: 100%;
  height: 3rem;
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #505050;
  border-radius: 0.5rem;
}

.l-register__main .c-form-group__radio {
  width: 20px;
  height: 20px;
}

.l-register__main .c-form-group__label::before {
  position: absolute;
  content: "*";
  color: red;
  left: 100%;
  top: 50%;
  font-size: 1rem;
  margin-left: 0.25rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 1;
}

.l-register__main .c-radio__label {
  font-size: 0.875rem;
  font-weight: thin;
  color: #505050;
}

.l-register__main .c-radio__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.l-register__main .c-warning {
  color: #505050;
  opacity: 0.6;
}

.l-register__main .c-button {
  width: 45%;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */